@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
body {
    background-color: azure;
}
.barra-navegacao {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 41, 128);
}
.barra-navegacao-logotipo {
    height: 32px;
    width: auto;
}
fieldset {
    border: 2px solid #7f3f84;
}
fieldset:first-child {
    margin-top: 45px; 
}
legend {
    color: #7f3f84;
    font-weight: 400;
}
input {
    padding: 2px 8px;
    font-size: 24px;
    border: 1px solid #7f3f84;
    border-radius: 10px;
}
button {
    margin-top: 45px;
    padding: 16px;
    border: 2px solid lightblue;
    border-radius: 20px;
    background-color: darkcyan;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
.rodape {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: italic;
    background-color: rgba(148, 107, 150, 0.1);
    color: #7f3f84;
}